<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="headerFragment">

        <header>
            <div class="header_item header_first">
                Every Marcket
            </div>
            <div class="header_right">
                <div class="header_item">
                    로그인
                </div>
                <div class="header_item">
                    회원가입
                </div>

            </div>
        </header>
</th:block>
</html>
