<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymelaf/layout"
    layout:decorate="/layout/default">
<head>
    <title>회원가입</title>

</head>

<th:block layout:fragment="content">

  <div class="join_wrapper">
      <div class="join_title">
        회원가입
      </div>
      <div class="join_item">
        <label for="email">이메일</label>
        <input id="email" type="text" >
      </div>
      <div class="join_item">
        <label for="password">비밀번호</label>
        <input id="password" type="password">
      </div>
      <div class="join_item">
        <label for="password2">비밀번호 확인</label>
        <input id="password2" type="password">
      </div>

      <div class="join_item">
        <label for="name">이름</label>
        <input id="name" type="text">
      </div>

      <div class="join_item">
        <label for="nickname">닉네임</label>
        <input id="nickname" type="text">
      </div>

      <div class="join_submit_wrapper">

        <input id="" type="submit" value="가입하기">
      </div>



  </div>

</th:block>
</html>
