<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header_item header_first">
      Every Marcket
    </div>
    <div class="header_right">
      <div class="header_item">
        로그인
      </div>
      <div class="header_item">
        회원가입
      </div>
    </div>
  </header>

  <div class="login_wrapper">
      <div class="join_title">
        Login
      </div>
      <div class="join_item">
        <label for="email">이메일</label>
        <input id="email" type="text" >
      </div>
      <div class="join_item">
        <label for="password">비밀번호</label>
        <input id="password" type="password">
      </div>
      <div class="join_naver_wrapper">
        
        <img src="../../../../../every_view/img/btnG_완성형.png">
      </div>

      <div class="join_submit_wrapper">
        
        <input id="" type="submit" value="로그인">
      </div>


      
  </div>
</body>
</html>